html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  --el-border-radius-base: 2px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: none;
}

#app {
  width: 100%;
  height: 100%;
}

.el-menu {
  --el-menu-item-height: 40px;
  --el-menu-base-level-padding: 12px;
  --el-menu-icon-width: 14px;
  --el-menu-text-color: #4C5A67;
  --el-menu-hover-bg-color: var(--el-color-info-light-9);
}


.mg-t-sm {
  margin-top: 4px;
}

.mg-t {
  margin-top: 8px;
}

.mg-t-lg {
  margin-top: 12px;
}

.mg-t-xl {
  margin-top: 16px;
}

.mg-b-sm {
  margin-bottom: 4px;
}

.mg-b {
  margin-bottom: 8px;
}

.mg-b-lg {
  margin-bottom: 12px;
}

.mg-b-xl {
  margin-bottom: 16px;
}

.mg-l-sm {
  margin-left: 4px;
}

.mg-l {
  margin-left: 8px;
}

.mg-l-lg {
  margin-left: 12px;
}

.mg-l-xl {
  margin-left: 16px;
}

.mg-r-sm {
  margin-right: 4px;
}

.mg-r {
  margin-right: 8px;
}

.mg-r-lg {
  margin-right: 12px;
}

.mg-r-xl {
  margin-right: 16px;
}
