html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--el-font-size-base);

  --el-border-radius-base: 2px;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: none;
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.el-menu {
  --el-menu-item-height: 40px;
  --el-menu-base-level-padding: 12px;
  --el-menu-icon-width: 14px;
  --el-menu-text-color: #4C5A67;
  --el-menu-hover-bg-color: var(--el-color-info-light-9);
}


.mg-t-sm {
  margin-top: 4px!important;
}

.mg-t {
  margin-top: 8px!important;
}

.mg-t-lg {
  margin-top: 12px!important;
}

.mg-t-xl {
  margin-top: 16px!important;
}

.mg-b-sm {
  margin-bottom: 4px!important;
}

.mg-b {
  margin-bottom: 8px!important;
}

.mg-b-lg {
  margin-bottom: 12px!important;
}

.mg-b-xl {
  margin-bottom: 16px!important;
}

.mg-l-sm {
  margin-left: 4px!important;
}

.mg-l {
  margin-left: 8px!important;
}

.mg-l-lg {
  margin-left: 12px!important;
}

.mg-l-xl {
  margin-left: 16px!important;
}

.mg-r-sm {
  margin-right: 4px!important;
}

.mg-r {
  margin-right: 8px!important;
}

.mg-r-lg {
  margin-right: 12px!important;
}

.mg-r-xl {
  margin-right: 16px!important;
}

.text-center {
  text-align: center!important;
}

.text-left {
  text-align: left!important;
}

.flex {
  display: flex;
}

.flex-end {
  justify-content: flex-end!important;
}

.justify-between {
  justify-content: space-between!important;
}

.align-center {
  align-items: center!important;
}

.right-box {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}