@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #0084FF,
    ),
    'success': (
      'base': #00B42A,
    ),
    'warning': (
      'base': #FAAD14,
    ),
    'danger': (
      'base': #F53F3F,
    ),
    'error': (
      'base': #F53F3F,
    ),
  )
);

@forward 'element-plus/theme-chalk/src/dark/css-vars.scss';

@mixin scroll($width: 6px, $thumb_bg: #cadae38a, $track_bg: transparent) {
  &::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: $width;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: $width;
  }
  &::-webkit-scrollbar-thumb {
    /*滚动条里面*/
    border-radius: calc($width / 2);
    background-color: $thumb_bg;
  }
  &::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: calc($width / 2);
    background-color: $track_bg;
  }
}